<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AuthMapper">
<insert id="addAuth">
		INSERT INTO MEMBER_TB_AUTH (USERID, AUTH)
		values (#{userid}, #{auth})
</insert>
<delete id="deleteAuth">
		delete MEMBER_TB_AUTH where userid = #{userid}
</delete>
</mapper>